@use 'sass:map';

$color-brand-aman: #3DBEC8;
$color-brand: #1877F2;
$color-bg: #EEF0F8;
$color-text-primary: #202223;
$color-success: #4CC784;
$color-danger: #F55F5F;

$variables: (
    default-font-size: 1rem,
    main-menu-width: #{rem(200px)},
    color-brand: $color-brand,
    color-brand-aman: $color-brand-aman,
    color-bg: $color-bg,
    color-text-primary: $color-text-primary,
    // color-text-secondary: #A3AAB2,
    color-success: $color-success,
    color-danger: $color-danger
);

:root {
    --animate-duration: 500ms;
    --default-font-size: #{map-get($variables, default-font-size)};
    --main-menu-width: #{map-get($variables, main-menu-width)};
    --color-brand: #{map-get($variables, color-brand)};
    --color-brand-aman: #{map-get($variables, color-brand-aman)};
    --color-bg: #{map-get($variables, color-bg)};
    --color-text-primary: #{map-get($variables, color-text-primary)};
    // --color-text-secondary: #{map-get($variables, color-text-secondary)};
    --color-success: #{map-get($variables, color-success)};
    --color-danger: #{map-get($variables, color-danger)};
}