.callout
    background-color: #F7F7F7
    border-inline-start: rem(2px) solid #D6D6D6
    border-start-end-radius: rem(2px)
    border-end-end-radius: rem(2px)
    padding: rem(10px)

    &--info
        // background-color: rgba(24, 119, 242, 0.05)
        +var(border-color, color-brand)

    &--warning
        // background-color: rgba(255, 193, 7, 0.075)
        border-color: #F59A21

    &--danger
        // background-color: rgba(255, 107, 115, 0.05)
        border-color: #FF6B73

    p
        font-size: rem(14px)

        &:last-child
            margin-bottom: 0
