.modal
    --bs-modal-bg: transparent
    +scrollbar

.modal-backdrop
    --bs-backdrop-bg: #222222
    --bs-backdrop-opacity: 0.4

.modal-dialog
    @media (min-width: 576px)
        max-width: 522px

.modal-lg, .modal-xl
    @media (min-width: 992px)
        max-width: 800px

.modal-sm
    @media (min-width: 576px)
        max-width: 356px

.modal-content
    gap: rem(1px)
    border: none
    border-radius: rem(10px)
    box-shadow: 0 rem(1px) rem(20px) rgba(0, 0, 0, 0.15)

.modal-header,
.modal-footer
    padding-inline: rem(25px)

.modal-header,
.modal-body,
.modal-footer
    background-color: #fff

.modal-header
    +flex-center
    border: none
    padding-block: rem(16px)
    border-start-start-radius: rem(10px)
    border-start-end-radius: rem(10px)
    border-end-start-radius: rem(3px)
    border-end-end-radius: rem(3px)

    .btn-close
        +flex-center
        width: rem(15px)
        height: rem(15px)
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath fill='%23131313' d='M18.64,20,10,11.36,1.36,20,0,18.64,8.64,10,0,1.36,1.36,0,10,8.64,18.64,0,20,1.36,11.36,10,20,18.64Z'/%3E%3C/svg%3E")
        background-size: contain
        background-color: transparent
        border-radius: 50%
        cursor: pointer
        padding: 0
        margin: 0
        margin-inline-start: auto

.modal-title
    +flex-center
    gap: rem(12px)
    font-size: rem(14px)

.modal-subtitle
    font-family: 'GraphikArabic-Medium', sans-serif !important
    font-size: rem(18px)
    color: #050505
    margin-bottom: rem(30px)

.modal-body
    border-start-start-radius: rem(10px)
    border-start-end-radius: rem(10px)
    border-end-start-radius: rem(3px)
    border-end-end-radius: rem(3px)
    padding: rem(25px)

    .modal-header + &
        border-start-start-radius: rem(3px)
        border-start-end-radius: rem(3px)

    .form-label
        color: inherit
        font-size: rem(12px)

.modal-footer
    gap: rem(10px)
    border: none
    border-start-start-radius: rem(3px)
    border-start-end-radius: rem(3px)
    border-end-start-radius: rem(10px)
    border-end-end-radius: rem(10px)
    padding-block: rem(7px)
    margin-top: 0

    & > *
        margin: 0

    .btn
        &:not(.btn-sm)
            border-radius: rem(24px)
            padding: 0.469rem 4rem

        .modal-sm &
            &:not(.btn-sm)
                padding-inline: 2.95rem
