.modal
    +scrollbar

.modal-dialog
    @media (min-width: 576px)
        max-width: 522px

.modal-lg, .modal-xl
    @media (min-width: 992px)
        max-width: 800px

.modal-sm
    @media (min-width: 576px)
        max-width: 356px

.modal-content
    border: none
    border-radius: rem(12px)
    box-shadow: 0 rem(1px) rem(20px) rgba(0, 0, 0, 0.15)

.modal-header
    +flex-center
    background-color: #F5F5F5
    border: none
    padding: 0.85rem rem(20px)
    border-top-right-radius: rem(12px)
    border-top-left-radius: rem(12px)

    .btn-close
        +flex-center
        width: 24px
        height: 24px
        background: none
        background-color: #fff
        border-radius: 50%
        cursor: pointer
        margin-inline-start: auto

.modal-title
    +flex-center
    gap: rem(12px)
    font-size: rem(14px)

.modal-body
    padding: 1.5rem

    .form-label
        color: inherit
        font-size: rem(12px)

.modal-footer
    justify-content: flex-start
    border-color: #ececec
    gap: rem(10px)
    border-bottom-left-radius: rem(8px)
    border-bottom-right-radius: rem(8px)
    padding: rem(10px) rem(20px)
    margin-top: 0

    & > *
        margin: 0

    .btn
        &:not(.btn-sm)
            border-radius: rem(24px)
            padding: 0.469rem 4rem

        .modal-sm &
            &:not(.btn-sm)
                padding-inline: 2.95rem
