.product__view
    display: flex
    flex-wrap: wrap
    gap: rem(20px)
    padding: rem(24) rem(22px)

    .product__image
        width: rem(180px)
        height: rem(180px)
        background-color: rgba(229, 234, 241, 0.4)
        border: 1px solid #E4E6EB
        border-radius: rem(15px)
        overflow: hidden

        img
            width: 100%
            height: 100%
            object-fit: cover
            border-radius: rem(15px)

    .product__data
        flex: 1 1 auto
        display: flex
        flex-direction: column
        justify-content: center
        gap: rem(15px)

        .product__name
            font-size: rem(20px)
            margin-bottom: 0

        .product__price
            display: inline-block
            font-size: rem(18px)
            +var(color, color-brand)

            [dir="rtl"] &
                font-family: 'NotoSansArabic_SemiBold', sans-serif

            [dir="ltr"] &
                font-family: 'NotoSans_SemiBold', sans-serif

    .stock-details
        flex: 0 1 100%
        display: flex
        flex-wrap: wrap
        gap: rem(15px)
        padding-top: rem(15px)
        border-top: rem(1px) solid #edeff4

        .product__info__item
            flex: 0 1 20%

            @media (max-width: 768px)
                flex: 0 1 calc(50% - 7.5px)

            @media (max-width: 576px)
                flex: 0 1 100%

            h6,
            span
                font-size: rem(14px)

            h6
                white-space: nowrap
                color: #A3AAB2

            span
                color: #0C0D0D

.swiper
    position: relative
    display: flex
    flex-direction: column
    align-items: center
    gap: rem(15px)
    max-width: rem(180px)
    height: max-content
    border-radius: rem(15px) rem(15px) 0 0
    margin: 0

    .swiper-wrapper
        display: flex
        background-color: rgba(229, 234, 241, 0.4)
        border-radius: rem(15px)

        .swiper-slide
            max-width: rem(180px)
            max-height: rem(180px)
            border-radius: rem(15px)
            overflow: hidden

            img
                width: 100%
                height: 100%
                object-fit: cover
                background-color: #fff
                border-radius: rem(15px)

    .swiper-pagination
        position: static
        display: flex
        justify-content: center
        gap: rem(5px)

        .swiper-pagination-bullet
            flex: 0 0 auto
            width: rem(10px)
            height: rem(10px)
            background-color: #C6CFD9
            border-radius: 50%
            cursor: pointer
            opacity: 1
            margin: 0

            &.swiper-pagination-bullet-active
                +var(background-color, color-brand)
                cursor: default

    .swiper-notification
        display: none
