.product-page
    @media (max-width: 1200px)
        overflow-y: auto

    @media (max-height: 600px)
        overflow-y: auto
        +scrollbar

    .single-column-layout
        @media (max-width: 1200px)
            height: auto
            min-height: 100%

        @media (max-height: 600px)
            height: auto
            min-height: 100%

        & > section
            @media (max-width: 1200px)
                overflow: hidden

            @media (max-height: 600px)
                overflow: hidden

.images__list
    display: flex
    flex-wrap: wrap
    gap: rem(5px)
    list-style: none
    padding: 0
    margin: 0

    .product-image
        width: rem(45px)
        height: rem(45px)
        background-color: #fff
        border: rem(1px) solid #C6CFD9
        border-radius: rem(6px)

        img
            width: 100%
            height: 100%
            object-fit: cover
            background-color: #fff
            border-radius: rem(6px)

[data-panel="barcode-printing"]
    .panel-products-list__head__col
        &:not(:first-child)
            text-align: center

        &:first-child
            flex-basis: 35%
            max-width: rem(195px)

        &:nth-child(2)
            flex-basis: rem(119px)
            max-width: rem(119px)

        &:nth-child(3)
            flex-basis: rem(95px)
            max-width: rem(95px)

        &:nth-child(4)
            flex-basis: rem(75px)
            max-width: rem(75px)

    .panel-products-list__item
        .panel-products-list__data
            max-width: rem(195px)

        .panel-products-list__input
            &:nth-of-type(3)
                flex-basis: rem(95px)
                max-width: rem(95px)

            &:nth-of-type(4)
                flex: 0 0 rem(75px)
                max-width: rem(75px)
